@use './variables.scss' as vars;

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 60px;
    padding: 12px;
    gap: 8px;
    background-color: vars.$Lime;
    margin-top: 1.5rem;
}
.container:hover{
    background-color: lighten(vars.$Lime,20%);
}

.button{
    border: none;
    background: none;
    font-family: 'PlusJakartaSansBold', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: vars.$Slate-900;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .container{
        width: 60%;
    }
}