@use './variables.scss' as vars;

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 60px;
    padding: 16px 16px;
    gap: 8px;
    background-color: vars.$Lime;
    margin-top: 1.5rem;
}

.button{
    border: none;
    background: none;
    font-family: 'PlusJakartaSansBold', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: vars.$Slate-900;
    cursor: pointer;
}
