@use './variables.scss' as vars;

.container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    // width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid vars.$Slate-300;
    padding: 2px 0px;
}

.label{
    font-family: 'PlusJakartaSansBold', sans-serif;
    font-weight: 500;
    display: block;
    font-size: 1.25rem;
    color: vars.$Slate-900;
    
}