@use './variables.scss' as vars;

.container{
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-radius: 6px;
    border: 2px solid vars.$Slate-300;
    padding: 8px 8px;
    margin-bottom: 0.5rem;
    align-items: center;
}

.label{
    font-family: 'PlusJakartaSansBold', sans-serif;
    font-weight: 500;
    display: block;
    font-size: 1.25rem;
    color: vars.$Slate-900;
}

.input{
    scale: 2;
    margin-left: 1rem;
}

.container:hover{
    border-color: vars.$Lime;
    cursor: pointer;
}