@use './variables.scss' as vars;
.emptyState{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    // gap: 1rem;
    text-align: center;
    color: vars.$White;
    background-color: vars.$Slate-900;
    padding: 2rem 2rem;
}
.image{
    padding-bottom: 1rem;
}
.title,.description{
    margin: 0;
}
.title{
    padding-bottom: 0.5rem;
}
.description{
    color: vars.$Slate-300;
}