@use './variables.scss' as vars;
.title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: vars.$White;
    margin: 0;
}

.results_summary{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    color: vars.$Slate-500;
    background-color: vars.$Slate-900;
    padding: 2rem 2rem;
    margin:0;
}

.results_details{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: darken(vars.$Slate-900, 5%);
    padding: 1rem;
    border-top: 4px solid vars.$Lime;
}
.subtitle{
    padding-top: 0.75rem;
}

.monthly_repayment{
    font-size: 2rem;
    padding: .1rem  ;
    color:vars.$Lime;
    border-bottom: 1px solid vars.$Slate-700;
}
.total_repayment{
    font-size: 1.25rem;
    color:vars.$White;
    padding-top: .25rem;
}